link(rel="stylesheet", href="css/header.css")
nav.navbar.navbar-expand-lg
    div.container-fluid
        div
            img(src="media/info.png", alt="Info").m-2
        div.justify-content-end
            ul.nav.pe-5
                li.nav-item
                    a.nav-link.active.link-light.fs-5 Home
                li.nav-item
                    a.nav-link.active.link-light.fs-5 Semana da Informática 
                li.nav-item
                    a.nav-link.active.link-light.fs-5 Sobre 
                li.nav-item
                    a.nav-link.active.link-light.fs-5 Contato