doctype html
html
  head
    title= Informática
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
    block styles
  body
    include includes/header
    block content
    include includes/footer
    script(src="/js/bootstrap.min.js")
