#logo {
    height: 70px;
}
.nav-footer {
    background-color: #000518;
}
.color-info {
    background-color: #08164E;
}
.apoiador {
    height: 170px;
    width: 170px;
    background-color: gray;
}
.btn {
    width: 135px;
}
.maxw-520 {
    max-width: 520px;
  }
.maxw-300 {
    max-width: 300px;
}
