*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo {
    height: 70px;
}
.nav-footer {
    background-color: #000518;
}
.color-info {
    background-color: #08164E;
}
#apoiador {
    height: 170px;
    width: 170px;
    background-color: gray;
}
.maxw-520 {
    max-width: 520px;
  }
.minh-240 {
    min-height: 240px;
}
.btn {
    width: 125px;
}
