#logo {
    height: 70px;
}
.justify{
    text-align: justify;
}
.nav-footer {
    background-color: #000518;
}
.color-info {
    background-color: #08164E;
}
.apoiador {
    height: 170px;
    width: 170px;
    background-color: gray;
}
.btn {
    width: 135px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.maxw-520 {
    max-width: 520px;
  }
.maxw-300 {
    max-width: 300px;
}
.vertical-text {
    writing-mode: sideways-lr;
}
.intro{
    background-color: #101529;
}

