div.container-flex.footer.p-3.color-info
    h3.m-3.ps-5.ms-5.text-white Apoio:
    div#apoiadores.d-flex.justify-content-center.flex-wrap
        #apoiador.m-3
        #apoiador.m-3
        #apoiador.m-3
        #apoiador.m-3
        #apoiador.m-3
        #apoiador.m-3
div.container-flex.footer.d-flex.flex-wrap.justify-content-around.p-3.nav-footer
    div.d-grid.align-content-center
        h4.text-center.text-white.p-2 Escola Técnica Estadual Monteiro Lobato
        h5.text-center.text-white.p-2 Curso Técnico de Informática
        p.text-center.text-white.p-2 Rua Guilherme Lahm, 1778 - Jardim do Prado, Taquara - RS
    div.vr.text-white
    div.d-grid.align-content-center
        h3#contato.text-white Contato: 
        div.d-flex
            i.bi.bi-instagram.text-white.me-3
            p.text-white @info_Cimol
        div.d-flex
            i.bi.bi-facebook.text-white.me-3
            p.text-white @info_Cimol
        div.d-flex
            i.bi.bi-telephone.text-white.me-3
            p.text-white (51) 3542-1309
        div.d-flex
            i.bi.bi-globe2.text-white.me-3
            p.text-white cimol@cimol.g12.br