nav.navbar.navbar-expand-lg.nav-footer
    .container-fluid
        a(href="/").d-flex.align-items-center
            img(src="/media/info.png", alt="Info")#logo.m-2

        button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
        )
            i.bi.bi-list.link-light.fs-1

        #navbarContent.collapse.navbar-collapse
            ul.nav.flex-column.flex-lg-row.pe-lg-5.ms-auto
                li.nav-item.text-center.text-lg-start
                    a.nav-link.link-light.fs-5(href="/") Home
                li.nav-item.text-center.text-lg-start
                    a.nav-link.link-light.fs-5(href="https://semanadainformatica.infocimol.com.br/" rel="noopener") Semana da Informática
                li.nav-item.text-center.text-lg-start
                    a.nav-link.link-light.fs-5(href="/sobre") Sobre
                li.nav-item.text-center.text-lg-start
                    a.nav-link.link-light.fs-5(href="#contato") Contato