nav.navbar.navbar-expand-lg
    .container-fluid
        .d-flex.align-items-center
            img(src="media/info.png", alt="Info").m-2#logo

        button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
        )
            i.bi.bi-list.link-light.fs-1

        #navbarContent.collapse.navbar-collapse
            ul.nav.flex-column.flex-lg-row.pe-lg-5.w-100
                li.nav-item.text-center.text-lg-start
                    a.nav-link.active.link-light.fs-5(href="/") Home
                li.nav-item.text-center.text-lg-start
                    a.nav-link.active.link-light.fs-5(href="https://semanadainformatica.infocimol.com.br/") Semana da Informática
                li.nav-item.text-center.text-lg-start
                    a.nav-link.active.link-light.fs-5(href="#") Sobre
                li.nav-item.text-center.text-lg-start
                    a.nav-link.active.link-light.fs-5(href="#contato") Contato