extends layout

block content
    .container.p-3.text-center
        h1 Acesso Negado
        p Você não tem permissão para acessar esta página.
        a.btn.btn-secondary(href="/") Voltar para a página inicial