extends layout

block content
    .container-fluid.d-flex.justify-content-center
        .row
            h1 500 - Erro Interno do Servidor
        .row
            a.btn.btn-primary.m-2.p-1.align-content-center(href="/") Voltar para o Início