extends layout

block content
    .container.p-3
        h1 Painel Administrativo
        ul
            li
                a(href="/admin/professores") Gerenciar Professores
            li
                a(href="/admin/logout") Sair
