extends layout

block content
    .container.p-3
        h1 Painel Administrativo
        .row.justify-content-center
            a.btn.btn-primary.m-2.p-1.align-content-center(href="/admin/professores") Gerenciar Professores
            a.btn.btn-primary.m-2.p-1.align-content-center(href="/admin/feiras") Gerenciar Feiras
            a.btn.btn-primary.m-2.p-1.align-content-center(href="/admin/apoiadores") Gerenciar Apoiadores
        .row.justify-content-center
            a.btn.btn-danger.m-2.p-1.align-content-center(href="/admin/logout") Sair
