extends layout 

block content
    .container-fluid.d-flex.justify-content-center
        .card.col.col-lg-10.m-3.mt-4.color-info.shadow-none.rounded-4
            .card-body
                h3.card-title.m-3.text-white Sobre o curso
                p.card-text.m-3.text-white Os sistemas informatizados estão cada vez mais presentes no cotidiano da sociedade. O cenário atual caracteriza-se pela informática difundindo-se em todos os setores, estando presente no comércio, indústria, área financeira, saúde, ensino e, principalmente, na vida privada das pessoas, através das redes sociais.
                p.card-text.m-3.text-white O Técnico em Informática é responsável pelo planejamento e execução dos processos de manutenção e operação de redes locais de computadores. Desenvolve aplicativos computacionais, adotando normas técnicas de qualidade, saúde, segurança do trabalho e de preservação ambiental no desempenho de sua função. Trabalha em equipe, estabelece relações interpessoais construtivas e compreende o contexto em que está inserido, demonstrando capacidade propositiva e criativa.
    .container.mb-3.py-2
        .row.row-cols-1.row-cols-md-2.g-4.justify-content-center
            each card in cards
                .col.maxw-520
                    .card.h-100.border-0.shadow.rounded-4
                        .card-body.d-grid.align-content-between
                            h3.card-title.fw-bold.m-3= card.titulo
                            p.card-text.m-3= card.corpo
                            a(href=card.link).btn.btn-secondary.m-3
                                i.bi.bi-arrow-right-short.fs-3.align-middle
                                span.align-middle Saiba Mais
                                    