doctype html
html(lang="pt-BR")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/icons/bootstrap-icons.css")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon", href="media/emblema_info.png", type="image/x-icon")
        title= title
        block styles
    body
        include includes/header
        block content
        include includes/footer
        script(src="/js/bootstrap.min.js") 
        