extends layout

block content
    .container-fluid.py-3
        .row.justify-content-center.m-3
            .col.col-md-10.col-lg-10
                h1 Professores
        .row.row-cols-auto.g-4.justify-content-center.m-3
            each prof in professores
                .col.maxw-300
                    .card.h-100.border-0.shadow.rounded-4
                        .card-body.justify-content-around
                            img(src=prof.foto).card-img-top.rounded-2
                            h5.card-title.m-3= prof.nome
                            p.card-text.m-3= prof.sobre

